html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --whiteShadow: 1px 1px 1px #ffffff, 0 0 5px white, 0 0 5px #ffffff;
    --blackShadow: 1px 1px 1px #000000, 0 0 5px black, 0 0 5px #000000;
}

.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 10%;
}

.mb-1 {
    margin-bottom: 10%;
}

p {
    font-family: 'Londrina Solid', cursive;
}

body#body {
    display: flex;
    flex-direction: column;
    width: 900px;
    background: linear-gradient(to top, #36d1dc, #5b86e5);
}

header h1.titulo {
    font-family: 'Londrina Solid', cursive;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 10px;
    font-weight: normal;
    text-shadow: 3px 5px 0px #202029;
    color: #fff;
}

div.regras {
    margin: 1rem;
    border: 3px dotted red;
    border-radius: 40px;
}

div.regras div.textoRegras {
    text-align: left;
    margin: 2rem;
    font-size: 3rem;
}

div.regras div.textoRegras p.text-principal {
    font-size: 4rem;
    text-align: center;
    color: white;
    text-shadow: var(--blackShadow);
}

div.regras div.textoRegras p.destaque {
    font-size: 5rem;
    text-shadow: var(--whiteShadow);
    font-size: 5rem;
    color: rgb(207,57,46);
}

div.regras ul.listaRegras {
  list-style: disc;
}

div.regras ul.listaRegras li {
    font-size: 2rem;
    margin: 1rem 0;
}

div.regras p.detalheRegra {
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

div.regras div#victory {
    text-align: center;
    padding: 25px;
    font-weight: 700;
    font-size: 1.2rem;
    width: 50%;
    height: 75px;
    background: #00fe3761;
    margin: 0 auto 10px;
    border-radius: 10px;
}
div.regras div#draw {
    text-align: center;
    padding: 25px;
    font-weight: 700;
    font-size: 1.2rem;
    width: 50%;
    height: 75px;
    background: #fc7171;
    margin: 0 auto 10px;
    border-radius: 10px;
}

section#sectionTabela div.container {
    background: #e6e6a6;
    margin: 2rem;
    padding-top: 1rem;
    border-radius: 40px;
}

section#sectionTabela div.container div#divSeta {
    display: flex;
    justify-content: space-evenly;
    margin: 7% 6% -7% 6%;
}

section#sectionTabela div.container div#divSeta span.spanSeta i.fa-angle-double-down:hover {
    color: red;
    transition: 1s;
}

section#sectionTabela div.container div.divTabela {
    display: flex;
    margin: 90px;
}

section#sectionTabela div.container div.divTabela div.divTable {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: #c01111d3 1px solid;
    border-top: none;
    border-radius: 5px;
    width: 14%;
    height: 300px;
    margin: 1px;
}

section#sectionTabela div.container div.divTabela div.divTable div.discoPreto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

section#sectionTabela div.container div.divTabela div.divTable div.discoVermelho {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

section#sectionTabela div.container div.divButton {
    display: flex;
}

section#sectionTabela div.container div.divButton button#reset {
    margin: 0 auto 10%;
    width: 20%;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid red;
    color: red;
}

body#body footer#footer {
    padding: 40px 0 50px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 740px;
}

body#body footer#footer p {
    font-size: 2.5rem;
}

body#body footer#footer a {
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

@media only screen and (min-width: 800px) {

    body#body{
        margin: 0 auto;
    }

    div.regras div.textoRegras p.text-principal{
        font-size: 2rem;
    }

    div.regras div.textoRegras p.destaque {
        font-size: 4rem;
    }

    div.regras p.detalheRegra {
        margin-bottom: 1rem;
    }

    div.regras ul.listaRegras li {
        font-size: 1.5rem;
    }

    body#body footer#footer {
        width: 450px;
    }

    body#body footer#footer p {
        font-size: 1.5rem;
    }
    
    body#body footer#footer a {
        font-size: 1.5rem;
    }

}